@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
